body {
  margin: 0;
}

#root {
  width: 35.5em;
  margin: auto;
}

#haiku {
  background-color: #eee;
  padding: 2em;
  border-radius: 2em;
  margin: 2em 0;
}
#haiku * {
  text-align: center;
}
#haiku .title {
  margin: 0;
  font-family: 'Roboto Serif', sans-serif;
}
#haiku .date {
  margin-top: 0;
}
#content p {
  margin: 0;
}

#counter {
  text-align: center;
}

button {
  padding: 1em;
  margin: 1em;
  width: 80%;
  border-radius: 1em;
  border-style: none;
}
