/*
 * Global settings
 */

html {
  background-color: #f5f5ed;
  height: 100%;
}

body {
  margin: 0;
  font-size: 100%; /* All em sizes are constrained by the user's browser's font size */
  color: #3f3b3b;
}

#root {
  width: 35.5em;
  margin: auto;
}

/*
 * Haiku card styling
 */

#haiku {
  background-color: #ede6d5;
  padding: 2em;
  border-radius: 2em;
  margin: 2em 0;
  font-family: 'Permanent Marker', sans-serif;
}
#haiku * {
  text-align: center;
}
#haiku .title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}
#haiku .content {
}
#haiku .content p {
  margin: 0;
  font-family: 'Kalam', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
  height: 1.2em; /* Adjusted for 'Kalam' font */
}
#haiku .signature {
  margin: 1em auto 0 auto;
  width: 90%;
}
#haiku .signature div {
  width: 33%;
  margin: 0;
  display: inline-block;
}
#haiku .signature .date {
  text-align: left;
}
#haiku .signature .counter {
  text-align: center;
}
#haiku .signature .author {
  margin-left: auto;
  text-align: right;
}

/*
 * Interface/buttons styling
 */

#interface .half {
  width: 50%;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 1em 0;
  display: inline-block;
}
#interface .full {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 1em 0;
  display: inline-block;
}
button {
  padding: 1em;
  margin: 0;
  width: 100%;
  border-radius: 1em;
  border-style: none;
}
