/*
 * Global settings
 */

html {
  background-color: #f5f5ed;
  height: 100%;
}

body {
  padding: 2em 1em;
  margin: 0;
  font-size: 100%; /* All em sizes are constrained by the user's browser's font size */
  color: #3f3b3b;
  overflow: hidden;
}

#root {
  max-width: 35.5em;
  margin: auto;
  position: relative; /* Used to position the haiku animations in it */
}

/*
 * Haiku card styling
 */

.haiku {
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  background-color: #ede6d5;
  padding: 2em;
  border-radius: 2em;
  margin: 0; /* Top padding is done by the body element */
  margin-bottom: 2em;
  font-family: 'Permanent Marker', sans-serif;
}
.haiku * {
  text-align: center;
}
.haiku .title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em; /* Adjusted for 'Permanent Marker' font */
}
.haiku .content {
  margin: 0.5em 0;
}
.haiku .content p {
  margin: 0;
  font-family: 'Kalam', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
  height: 1.2em; /* Adjusted for 'Kalam' font */
}
.haiku .signature {
  margin: 1em auto 0 auto;
  width: 90%;
}
.haiku .signature div {
  margin: 0;
  display: inline-block;
}
.haiku .signature .date {
  width: 50%;
  text-align: left;
}
.haiku .signature .counter {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.haiku .signature .author {
  width: 50%;
  text-align: right;
}
@media screen and (max-width: 35.5em) {
  .haiku .signature div {
    width: 100%;
    display: block;
  }
  .haiku .signature .date {
    width: 100%;
    text-align: center;
  }
  .haiku .signature .author {
    width: 100%;
    text-align: center;
  }
}

/*
 * Interface/buttons styling
 */

#interface .half {
  width: 50%;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 1em 0;
  display: inline-block;
}
#interface .full {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 1em 0;
  display: inline-block;
}
button {
  padding: 1em;
  margin: 0;
  width: 100%;
  border-radius: 1em;
  border-style: none;
}
